.opener {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 75vh;
    padding-top: 25vh;
}

.opener_headline {
    font-size: 48px;
    text-align: center;
}

.opener_sub {
    font-size: 24px;
    text-align: center;
}

.opener_buttonline {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.opener_buttonlink {
    margin-right: 50px;
    cursor: pointer;
}

.opener_buttonlink:last-of-type {
    margin-right: 0;
}

.opener_button {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #32475B;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.opener_members {
    text-align: center;
    margin-bottom: 100px;
}